<h1>Contact</h1>
<p>Questions, comments, errata?  Send me a note at <a href="mailto:personal.bilesjeffrey@gmail.com">personal.bilesjeffrey@gmail.com</a>.</p>

<p>You can also follow me on twitter <a href="https://twitter.com/JeffreyBiles">@JeffreyBiles</a>.</p>

<p>I'm usually working, writing, or enjoying life, so don't expect a lightning-fast response on email or twitter, but I do check them.</p>
