<h1>When we update, you get an email</h1>

<p>Email frequency usually ranges from once a week to once a month, and you can unsubscribe any time.</p>

<%= render TutorialSite.Web.PageView, "mailchimp.html", conn: @conn %>
