<h1>The Phoenix Tutorial</h1>

<%= for section <- @book do %>
  <h3><%= section.title %></h3>
  <ul>
    <%= for chapter <- section.chapters do %>
      <li>
        <%= link chapter.title,
                 to: "/read/#{hyphenate section.title}/#{hyphenate chapter.title}" %>
      </li>
    <% end %>
  </ul>
<% end %>
