<%= render TutorialSite.Web.PageView, "book_navigation_links.html", conn: @conn, book: @book, chapter: @chapter %>
<hr>
<h4><u><%= unhyphenate @section %></u></h4>
<%= content @chapter %>
<hr>
<%= render TutorialSite.Web.PageView, "book_navigation_links.html", conn: @conn, book: @book, chapter: @chapter %>
