/* This file is for your main application css. */
@import "./testimonials.scss";
@import "./phoenix.css";
@import "./highlight/atom-one-dark.css";

.container {
  max-width: 900px !important;
}

html blockquote {
  padding: 0;
  margin: 14px 40px;
  border-left: 0;
  font-size: 13px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

a.subtle_link {
  color: black;
}

a.subtle_link:hover {
  color: black;
}

main pre {
  padding: 0;
}

code.inline {
  color: black;
}

.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

html body {
  margin-top: 0;
}

ul.nav.nav-pills {
  margin-top: 10px;
}

img.title-image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header.header {
  margin-bottom: 10px;
}

.btn.preorder-button, .btn.read-online-button {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2em;
}

.book-chapter img {
  border: 1px solid black;
}
