/* This file is for your main application css. */

html blockquote {
  padding: 0;
  margin: 14px 40px;
  border-left: 0;
  font-size: 13px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

li.not-ready a {
  color: black;
  cursor: default;
}

.nav > li.not-ready > a:hover {
  background-color: inherit;
}

li.not-ready {
  &:hover: inherit;
}

a.subtle_link {
  color: black;
}

a.subtle_link:hover {
  color: black;
}
