/* Testimonials */

.testimonial-wrapper {
  margin-bottom: 15px;
}

.testimonial {
  background-color: white;
  margin: 0;
  color: black;
  height: 100%;

  p {
    color: black;
  }
  border: 1px black solid;
  border-radius: 5px;

  img {
    max-width: 100%;
    padding: 10px;
  }

  @media (min-width: 64em) {
    min-height: 150px;
  }

  @media (max-width: 64em) and (min-width: 48em) {
    min-height: 185px;
  }

  .testimonial-text {
    padding-top: 5px;
  }
}
